{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Ativo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Cadastro de Ativo</h1>
        <form id="ativoForm">
            <div class="form-group">
                <label for="email">Seu email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="ativoSelect">Selecione um ativo:</label>
                <select id="ativoSelect" class="form-control">
                <option value="">Selecione...</option>
                {% for ativo in ativos %}
                    <option value="{{ ativo }}">{{ ativo }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="maior-preco">Maior preço para o ativo</label>
                <input type="number" step="0.01" class="form-control" id="maior-preco" name="maior-preco" required>
            </div>
            <div class="form-group">
                <label for="menor-preco">Menor preço para o ativo</label>
                <input type="number" step="0.01" class="form-control" id="menor-preco" name="menor-preco" required>
            </div>
            <div class="form-group">
                <label for="volume">Volume</label>
                <input type="number" class="form-control" id="volume" name="volume" required>
            </div>
            <div class="form-group">
                <label for="periodiciadade">Periodicidade da checagem em minutos</label>
                <input type="number" class="form-control" id="periodiciadade" name="periodiciadade" required></input>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        <div id="cardsContainer" class="mt-5"></div>
    </div>

    <script src="{% static 'pagina_inicial.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
